.product-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    background-color: #0d0d0d; 
}


.product-details {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 30px; 
    background-color: #2a2a2a;
    border-radius: 10px;
    max-width: 800px; 
    min-height: 400px; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
}


.product-image {
    flex-shrink: 0;
    border: 2px solid #00FFC2;
    border-radius: 8px;
    padding: 10px;
}

.product-image img {
    max-width: 250px; 
    border-radius: 8px;
}


.product-info {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-top: 100px ;
}

.product-info h2 {
    font-size: 2.5em;
    margin: 0 0 10px 0;
    color: #00FFC2;
}

.product-info .description {
    font-size: 1.1em;
    margin: 10px 0;
    color: #ffffff;
}

.product-info .price {
    font-size: 1.2em;
    margin: 10px 0;
    color: #C0C0C0;
}
